In [1]:
# classification review scratchpad

In [2]:
has_churned = [1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0]

In [3]:
has_churned

[1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0]

In [4]:
import pandas as pd
y_actu = pd.Series([1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0], name='Actual')
y_pred = pd.Series([1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0], name='Predicted')
df_confusion = pd.crosstab(y_actu, y_pred)

In [5]:
df_confusion

Predicted  0  1
Actual
0          8  0
1          0  3