In [ ]:
# imports

import pandas as pd
import numpy as np
import os

import matplotlib.pyplot as plt
import seaborn as sns

from pydataset import data

In [ ]:
# creating and loading the iris database

df_iris = sns.load_dataset('iris')

In [ ]:
# print the first 3 rows

df_iris.head(3)

In [ ]:
# print the number of rows and columns (shape)

df_iris.shape

In [ ]:
# print the column names

df_iris.columns

In [ ]:
# print the data type of each column

df_iris.dtypes

In [ ]:
# print the summary statistics for each of the numeric variables

df_iris.describe().T #.T Transpose the data

In [ ]:
# print the unique values for each of your categorical variables

df_iris.nunique()

In [ ]:
# Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel

df_excel = pd.read_excel("Cust_Churn_Telco.xlsx")

In [ ]:
df_excel.head(3).T

In [ ]:
# assign the first 100 rows to a new dataframe, df_excel_sample
# df_excel_sample= [df_excel.head(100)].copy()
# df_excel_sample

In [ ]:
# Assign the first 100 rows
# Solution
df_excel_sample = df_excel.loc[0:100, :].copy() # Why am I using .copy, here?
df_excel_sample.head()

In [ ]:
# print the number of rows of your original dataframe
len(df_excel.index)

In [ ]:
# print the first 5 column names
df_excel.columns[:5]

In [ ]:
# print the column names that have a data type of object
df_excel.select_dtypes(include=['object']).columns

In [ ]:
df_excel.head()

In [ ]:
df_excel.max()

In [ ]:
df_excel.min()

In [ ]:
tenure_range = df_excel.tenure.max() - df_excel.tenure.min()
month_range = df_excel.MonthlyCharges.max() - df_excel.MonthlyCharges.min()
total_range = df_excel.TotalCharges.max() - df_excel.TotalCharges.min()

In [ ]:
# compute the range for each of the numeric variables.
numerics = df_excel.select_dtypes(include=['float64', 'int64'])

In [ ]:
# solution
print("Range from min-max of numeric values")
numerics.max() - numerics.min()

In [ ]:
# compute the range for each of the numeric variables.
print(tenure_range, month_range, total_range)

In [ ]:
# Read the data from this google sheet into a dataframe, df_google

sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'    

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)
df_google.head()

In [ ]:
# print the first 3 rows
df_google.head(3)

In [ ]:
# print the number of rows and columns
df_google.shape

In [ ]:
# print the column names
df_google.columns

In [ ]:
# print the data type of each column
df_google.dtypes

In [ ]:
# print the summary statistics for each of the numeric variables

df_google.describe()

In [ ]:
df_google.nunique()

In [ ]:
# print the unique values for each of your categorical variables
# solution
for column in df_google.select_dtypes(include='object').columns:
    print(f"Values in the {column} column:")
    print(df_google[column].value_counts())
    print("------")
    print()

In [ ]:
#aquire.py exercises
# getting data from titanic_db in codeup db
from env import host, user, password

url = f'mysql+pymysql://{user}:{password}@{host}/titanic_db'
    
def get_db_url(user,password,host,database):
    
    return f'mysql+pymysql://{user}:{password}@{host}/{database}'

In [ ]:
# getting data from titanic_db in codeup db
import pandas as pd
from env import user, password, host

pd.read_sql("select * from passengers", get_db_url(user, password, host, 'titanic_db'))

In [ ]:
# getting data from iris_db from codeup db

from env import host, user, password

url = f'mysql+pymysql://{user}:{password}@{host}/iris_db'
    
def get_db_url(user,password,host,database):
    
    return f'mysql+pymysql://{user}:{password}@{host}/{database}'

In [ ]:
# getting data from iris_db from codeup db

import pandas as pd
from env import user, password, host

pd.read_sql("select * from species join measurements using(species_id)", get_db_url(user, password, host, 'iris_db'))

In [ ]:
# df.to_csv("get_titanic_data.csv")

# Using the Iris Data:

- 1. Use the function defined in acquire.py to load the iris data.
- 2. Drop the species_id and measurement_id columns.
- 3. Rename the species_name column to just species.
- 4. Create dummy variables of the species name.
- 5. Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

import warnings
warnings.filterwarnings("ignore")

import acquire

In [2]:
# getting iris data from acquire 
df = acquire.get_iris_data()

In [4]:
# check yo head
df.head()

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2

In [5]:
# Drop the species_id and measurement_id columns 
# mesurement_id not selected in aquire file
df = df.drop(columns = ['species_id'])

In [6]:
# check_yo_head
df.head()

  species_name  sepal_length  sepal_width  petal_length  petal_width
0       setosa           5.1          3.5           1.4          0.2
1       setosa           4.9          3.0           1.4          0.2
2       setosa           4.7          3.2           1.3          0.2
3       setosa           4.6          3.1           1.5          0.2
4       setosa           5.0          3.6           1.4          0.2

In [7]:
# Rename the species_name column to just species.

df = df.rename(columns={"species_name": "species"})

In [8]:
# check_yo_head
df.head()

  species  sepal_length  sepal_width  petal_length  petal_width
0  setosa           5.1          3.5           1.4          0.2
1  setosa           4.9          3.0           1.4          0.2
2  setosa           4.7          3.2           1.3          0.2
3  setosa           4.6          3.1           1.5          0.2
4  setosa           5.0          3.6           1.4          0.2

In [9]:
# Create dummy variables of the species name.
df_dummy = pd.get_dummies(df[['species']])

In [10]:
# check_yo_dummy_head
df_dummy.head()

   species_setosa  species_versicolor  species_virginica
0               1                   0                  0
1               1                   0                  0
2               1                   0                  0
3               1                   0                  0
4               1                   0                  0

In [11]:
# append dummy df cols to the original df. 
df = pd.concat([df, df_dummy], axis = 1)

In [12]:
# check_yo_head
df.head()

,species,sepal_length,sepal_width,petal_length,petal_width,species_setosa,species_versicolor,species_virginica
0,setosa,5.1,3.5,1.4,0.2,1,0,0
1,setosa,4.9,3.0,1.4,0.2,1,0,0
2,setosa,4.7,3.2,1.3,0.2,1,0,0
3,setosa,4.6,3.1,1.5,0.2,1,0,0
4,setosa,5.0,3.6,1.4,0.2,1,0,0

In [14]:
# Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

def prep_iris(df):

    df.drop(columns = ['species_id'])
    df.rename(columns={"species_name": "species"})
    df_dummy = pd.get_dummies(df[['species']])
    
    return pd.concat([df, df_dummy], axis = 1)

In [21]:
prep_iris